In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
from scipy.stats import norm
import matplotlib.lines as lines

In [37]:
df = pd.read_csv("akinator IA3 - Feuille 4.csv")
pd.set_option("display.max.columns", None)
df

,Distance(m),Groupe 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Groupe 2,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Groupe 3,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Groupe 4,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Groupe 5,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Groupe 6,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Groupe 7,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6,Lancer 1,Lancer 2,Lancer 3,Lancer 4,Lancer 5,Lancer 6
1,1.0,-25.0,"18,0",12.0,-11.0,1.5,12.0,-53.0,43.0,-50.0,0.5,55.0,-15.0,21.0,22.0,62.0,6.5,-13.0,-30.0,-27.0,31.0,-7.0,7.0,6.0,5.0,17.0,45.0,8.0,10.0,-6.0,-23.0,-44.0,54.0,-16.0,46.0,18.0,27.0,-10.0,-12.5,-19.5,24.0,-9.0,39.0
2,2.0,-3.0,7.0,42.0,-5.0,-12.0,-62.0,-28.0,11.0,-13.0,0.0,24.0,-1.0,11.0,5.0,-6.0,31.0,-24.0,-2.0,-49.0,50.0,-2.0,-58.0,-17.0,53.0,4.0,-15.0,10.0,45.0,-21.0,-60.0,-2.0,-13.0,19.0,-24.0,10.0,-6.0,-24.2,11.0,-3.0,-22.0,-0.5,7.5
3,4.0,-25.5,12.0,36.5,-36.0,-52.0,24.5,-7.0,-6.0,-22.0,-36.0,15.0,-75.0,150.0,49.0,-18.0,58.0,43.5,26.5,100.0,-95.0,21.0,76.0,43.0,51.0,37.5,-94.0,23.0,168.0,-26.0,-81.0,38.0,-62.0,-89.0,-48.0,170.0,-57.0,-10.0,-13.0,-17.0,-51.5,112.0,34.0
4,5.0,-78.0,-37.0,66.0,-84.5,-38.0,61.5,0.0,44.0,0.0,-21.5,42.0,-35.0,523.5,-77.5,-48.0,-56.0,4.0,626.0,17.0,91.0,49.0,66.0,59.0,121.0,-17.0,68.0,5.0,-7.0,47.0,-35.0,3.0,-37.0,-20.0,64.0,500.0,22.0,-73.5,-45.0,-97.5,90.0,-47.5,-117.5
5,6.0,-32.5,-270.0,-24.5,19.5,-24.0,-80.5,-44.0,-50.0,-24.0,73.0,70.0,-32.0,136.5,-95.5,-57.5,-102.0,-130.0,-32.0,-80.0,-35.0,14.0,133.0,-77.0,304.0,125.0,-87.0,-180.0,210.0,0.0,60.0,300.0,60.0,32.0,57.0,235.0,-39.0,-88.0,-194.5,-16.5,-130.0,-85.5,53.0

In [67]:
df2 = df.transpose()
df

                    0      1      2      3       4       5
Distance(m)       NaN    1.0    2.0    4.0     5.0     6.0
Groupe 1     Lancer 1  -25.0   -3.0  -25.5   -78.0   -32.5
Unnamed: 2   Lancer 2   18,0    7.0   12.0   -37.0  -270.0
Unnamed: 3   Lancer 3   12.0   42.0   36.5    66.0   -24.5
Unnamed: 4   Lancer 4  -11.0   -5.0  -36.0   -84.5    19.5
Unnamed: 5   Lancer 5    1.5  -12.0  -52.0   -38.0   -24.0
Unnamed: 6   Lancer 6   12.0  -62.0   24.5    61.5   -80.5
Groupe 2     Lancer 1  -53.0  -28.0   -7.0     0.0   -44.0
Unnamed: 8   Lancer 2   43.0   11.0   -6.0    44.0   -50.0
Unnamed: 9   Lancer 3  -50.0  -13.0  -22.0     0.0   -24.0
Unnamed: 10  Lancer 4    0.5    0.0  -36.0   -21.5    73.0
Unnamed: 11  Lancer 5   55.0   24.0   15.0    42.0    70.0
Unnamed: 12  Lancer 6  -15.0   -1.0  -75.0   -35.0   -32.0
Groupe 3     Lancer 1   21.0   11.0  150.0   523.5   136.5
Unnamed: 14  Lancer 2   22.0    5.0   49.0   -77.5   -95.5
Unnamed: 15  Lancer 3   62.0   -6.0  -18.0   -48.0   -57.5
Unnamed: 16  Lancer 4    6.5   31.0   58.0   -56.0  -102.0
Unnamed: 17  Lancer 5  -13.0  -24.0   43.5     4.0  -130.0
Unnamed: 18  Lancer 6  -30.0   -2.0   26.5   626.0   -32.0
Groupe 4     Lancer 1  -27.0  -49.0  100.0    17.0   -80.0
Unnamed: 20  Lancer 2   31.0   50.0  -95.0    91.0   -35.0
Unnamed: 21  Lancer 3   -7.0   -2.0   21.0    49.0    14.0
Unnamed: 22  Lancer 4    7.0  -58.0   76.0    66.0   133.0
Unnamed: 23  Lancer 5    6.0  -17.0   43.0    59.0   -77.0
Unnamed: 24  Lancer 6    5.0   53.0   51.0   121.0   304.0
Groupe 5     Lancer 1   17.0    4.0   37.5   -17.0   125.0
Unnamed: 26  Lancer 2   45.0  -15.0  -94.0    68.0   -87.0
Unnamed: 27  Lancer 3    8.0   10.0   23.0     5.0  -180.0
Unnamed: 28  Lancer 4   10.0   45.0  168.0    -7.0   210.0
Unnamed: 29  Lancer 5   -6.0  -21.0  -26.0    47.0     0.0
Unnamed: 30  Lancer 6  -23.0  -60.0  -81.0   -35.0    60.0
Groupe 6     Lancer 1  -44.0   -2.0   38.0     3.0   300.0
Unnamed: 32  Lancer 2   54.0  -13.0  -62.0   -37.0    60.0
Unnamed: 33  Lancer 3  -16.0   19.0  -89.0   -20.0    32.0
Unnamed: 34  Lancer 4   46.0  -24.0  -48.0    64.0    57.0
Unnamed: 35  Lancer 5   18.0   10.0  170.0   500.0   235.0
Unnamed: 36  Lancer 6   27.0   -6.0  -57.0    22.0   -39.0
Groupe 7     Lancer 1  -10.0  -24.2  -10.0   -73.5   -88.0
Unnamed: 38  Lancer 2  -12.5   11.0  -13.0   -45.0  -194.5
Unnamed: 39  Lancer 3  -19.5   -3.0  -17.0   -97.5   -16.5
Unnamed: 40  Lancer 4   24.0  -22.0  -51.5    90.0  -130.0
Unnamed: 41  Lancer 5   -9.0   -0.5  112.0   -47.5   -85.5
Unnamed: 42  Lancer 6   39.0    7.5   34.0  -117.5    53.0

In [59]:
df_1 = df[df["Distance(m)"] == 1.0].stack()[1:]
df_1

1  Groupe 1       -25.0
   Unnamed: 2      18,0
   Unnamed: 3      12.0
   Unnamed: 4     -11.0
   Unnamed: 5       1.5
   Unnamed: 6      12.0
   Groupe 2       -53.0
   Unnamed: 8      43.0
   Unnamed: 9     -50.0
   Unnamed: 10      0.5
   Unnamed: 11     55.0
   Unnamed: 12    -15.0
   Groupe 3        21.0
   Unnamed: 14     22.0
   Unnamed: 15     62.0
   Unnamed: 16      6.5
   Unnamed: 17    -13.0
   Unnamed: 18    -30.0
   Groupe 4       -27.0
   Unnamed: 20     31.0
   Unnamed: 21     -7.0
   Unnamed: 22      7.0
   Unnamed: 23      6.0
   Unnamed: 24      5.0
   Groupe 5        17.0
   Unnamed: 26     45.0
   Unnamed: 27      8.0
   Unnamed: 28     10.0
   Unnamed: 29     -6.0
   Unnamed: 30    -23.0
   Groupe 6       -44.0
   Unnamed: 32     54.0
   Unnamed: 33    -16.0
   Unnamed: 34     46.0
   Unnamed: 35     18.0
   Unnamed: 36     27.0
   Groupe 7       -10.0
   Unnamed: 38    -12.5
   Unnamed: 39    -19.5
   Unnamed: 40     24.0
   Unnamed: 41     -9.0
   Unnamed: 42     39.0
dtype: object

In [60]:
df_1 = pd.DataFrame(df_1)
df_1

                   0
1 Groupe 1     -25.0
  Unnamed: 2    18,0
  Unnamed: 3    12.0
  Unnamed: 4   -11.0
  Unnamed: 5     1.5
  Unnamed: 6    12.0
  Groupe 2     -53.0
  Unnamed: 8    43.0
  Unnamed: 9   -50.0
  Unnamed: 10    0.5
  Unnamed: 11   55.0
  Unnamed: 12  -15.0
  Groupe 3      21.0
  Unnamed: 14   22.0
  Unnamed: 15   62.0
  Unnamed: 16    6.5
  Unnamed: 17  -13.0
  Unnamed: 18  -30.0
  Groupe 4     -27.0
  Unnamed: 20   31.0
  Unnamed: 21   -7.0
  Unnamed: 22    7.0
  Unnamed: 23    6.0
  Unnamed: 24    5.0
  Groupe 5      17.0
  Unnamed: 26   45.0
  Unnamed: 27    8.0
  Unnamed: 28   10.0
  Unnamed: 29   -6.0
  Unnamed: 30  -23.0
  Groupe 6     -44.0
  Unnamed: 32   54.0
  Unnamed: 33  -16.0
  Unnamed: 34   46.0
  Unnamed: 35   18.0
  Unnamed: 36   27.0
  Groupe 7     -10.0
  Unnamed: 38  -12.5
  Unnamed: 39  -19.5
  Unnamed: 40   24.0
  Unnamed: 41   -9.0
  Unnamed: 42   39.0

In [61]:
df_1.index = list(range(len(df_1.index)))

In [64]:
df_1.columns = ["1m"]

In [65]:
df_1

       1m
0   -25.0
1    18,0
2    12.0
3   -11.0
4     1.5
5    12.0
6   -53.0
7    43.0
8   -50.0
9     0.5
10   55.0
11  -15.0
12   21.0
13   22.0
14   62.0
15    6.5
16  -13.0
17  -30.0
18  -27.0
19   31.0
20   -7.0
21    7.0
22    6.0
23    5.0
24   17.0
25   45.0
26    8.0
27   10.0
28   -6.0
29  -23.0
30  -44.0
31   54.0
32  -16.0
33   46.0
34   18.0
35   27.0
36  -10.0
37  -12.5
38  -19.5
39   24.0
40   -9.0
41   39.0

In [9]:
cols = df.columns[1:7]

In [10]:
cols

Index(['Groupe 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')