# Consignes 
Question 1 : Please review the quality of the data, describe the data you are working on and present any issues
	- To do for artworks.csv

Question 2 : Draw a graph that would help us to understand more clearly the dataset

Question 3 : Let suppose you are a data scientist. You might consider cluster this dataset to get for example different clusters.
Which relevant transformations / data cleaning operations would you do before ?

Indications:
1. Are all the columns useful ?
2. What you are going to do on elements from artists table is called feature engineering:
	- get actual age or death age
	- is the artist alived : create a new column and sets 1 if it'is alived otherwise 0.
	- if possible, calculate the volumes of the artwork
	- Count number of elements inside 'Name_caller' and print the result inside a new column


3. On artworks table:
	- Acquisition date : transformed in another format
	- delete lines/columns ?
	- fill missing info ?


Bonus:
- Draw 2 easy other graphs that are useful to understand the dataset
- Is it possible to create a unify dataset, from the two files mentioned above ? If possible, do it and create a .csv file
- Clean artists.csv

NB:
You have to use the following methods:
.describe()
.unique()
.fillna()
.dropna()
.apply()

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv("artworks.csv")

In [ ]:
df.count() / df.shape[0] * 100

In [ ]:
df[df['Dimensions'].isnull()]

In [3]:
#df['Acquisition_year'] = pd.DatetimeIndex(df['Acquisition Date']).year
df.loc[[129661],['Acquisition Date']] = float('NaN')

In [7]:
df['Acquisition_year'] = pd.DatetimeIndex(df['Acquisition Date']).year

In [8]:
df['Acquisition_year'].fillna(0, inplace = True)

In [9]:
df['acquisition_year'] = pd.DatetimeIndex(df['Acquisition Date']).year

In [10]:
df['acquisition_year']

0         1996.0
1         1995.0
2         1997.0
3         1995.0
4         1997.0
           ...
130257    2008.0
130258    2008.0
130259    2008.0
130260    2008.0
130261    2008.0
Name: acquisition_year, Length: 130262, dtype: float64

In [11]:
df[df['Acquisition_year'].isnull()]

Empty DataFrame
Columns: [Artwork ID, Title, Artist ID, Name, Date, Medium, Dimensions, Acquisition Date, Credit, Catalogue, Department, Classification, Object Number, Diameter (cm), Circumference (cm), Height (cm), Length (cm), Width (cm), Depth (cm), Weight (kg), Duration (s), Acquisition_year, acquisition_year]
Index: []

[0 rows x 23 columns]

In [12]:
df['Acquisition_year'] = df['Acquisition_year'].astype(int)

In [13]:
df['Acquisition_year']

0         1996
1         1995
2         1997
3         1995
4         1997
          ...
130257    2008
130258    2008
130259    2008
130260    2008
130261    2008
Name: Acquisition_year, Length: 130262, dtype: int64

In [14]:
df_test = df_test.sort_values(by=['Acquisition_year'])

NameError: name 'df_test' is not defined

In [ ]:
df_test

In [ ]:

df_test['Acquisition_year'].value_counts().plot(kind='bar',
                           figsize=[20, 8], title="Nombre d'acquisitions par année",
                           rot=45, legend=True, ylabel="Nombre d'acquisitions",
                           xlabel="Year", fontsize='large', sort_columns= True)

In [ ]:
df_test['Acquisition_year'].value_counts()

In [ ]:
df_test['Acquisition_year'].value_counts().sort_values()