Test Gini Simplon

In [ ]:
construire un package 
from ***** import *****
.get_data()

In [9]:
gini_epargne_oui = 1 - (3/4)**2 - (1/4)**2
gini_epargne_non = 1 - (1/3)**2 - (2/3)**2
gini_epargne = (4/6) * gini_epargne_oui + (3/6) * gini_epargne_non
print(f"l'indice de Gini pour Epargne == Oui est de: {gini_epargne_oui}")
print(f"l'indice de Gini pour Epargne == Non est de: {gini_epargne_non}")
print(f"l'indice de Gini pour Epargne est de: {gini}")

l'indice de Gini pour Epargne == Oui est de: 0.375
l'indice de Gini pour Epargne == Non est de: 0.4444444444444444
l'indice de Gini pour Epargne est de: 0.4722222222222222

In [15]:
gini_revenu_faible = 1 - (3/4)**2 - (1/4)**2
gini_revenu_important = 1 - (2/4)**2 - (2/4)**2
gini_revenu = (4/6) * gini_epargne_oui + (4/6) * gini_epargne_non
print(f"l'indice de Gini pour Revenu == Faible est de: {gini_revenu_faible}")
print(f"l'indice de Gini pour Revenu == Important est de: {gini_revenu_important}")
print(f"l'indice de Gini pour Revenu est de: {gini_revenu}")

l'indice de Gini pour Revenu == Faible est de: 0.375
l'indice de Gini pour Revenu == Important est de: 0.5
l'indice de Gini pour Revenu est de: 0.5462962962962963

In [14]:
La règle pour l'arrondi est simple:
trouvez le reste après la division avec 100, et ajoutez 100 moins ce reste s'il n'est pas nul:

import math
def roundup(x):
    return round(x/100 if x % 100 == 0 else (x + 100 - x % 100)/100)
roundup(2000)

SyntaxError: invalid syntax (1585276588.py, line 1)

# DESCRIPTION:
Implement the function unique_in_order which takes as argument a sequence and returns a list of items without any elements with the same value next to each other and preserving the original order of elements.

For example:

unique_in_order('AAAABBBCCDAABBB') == ['A', 'B', 'C', 'D', 'A', 'B']

unique_in_order('ABBCcAD')         == ['A', 'B', 'C', 'c', 'A', 'D']

unique_in_order([1,2,2,3,3])       == [1,2,3]

### Ma solution

In [ ]:
def unique_in_order(iterable):
    lst = []
    for i in range(len(iterable)):
        if iterable[i] != iterable[i-1]:
            lst.append(iterable[i])
        elif iterable[i] == iterable[i] and len(iterable) <= 2:
            lst.append(iterable[i])
            lst = list(set(lst))
    return lst
unique_in_order("ABBCcAD")

#### Solutions alternatives 1

In [ ]:
def unique_in_order(iterable):
    result = []
    prev = None
    for char in iterable[0:]:
        if char != prev:
            result.append(char)
            prev = char
    return result
unique_in_order("AABBCCDCCAA")

#### Solutions alternatives 2

In [ ]:
def unique_in_order(iterable):
    res = []
    for item in iterable:
        if len(res) == 0 or item != res[-1]:
            res.append(item)
    return res

# Description
In this kata, you are asked to square every digit of a number and concatenate them.

For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1.

Note: The function accepts an integer and returns an integer

### Ma Solution

In [ ]:
def square_digits(list):
    res = [int(x)**2 for i,x in enumerate(str(list))]
    string = "".join(map(str, res))
    return int(string)
square_digits(9119)

In [ ]:
x = 9119
x = str(y)
print(type(x))
lsst =[]
for i, value in enumerate(x):
    lsst.append(int(x[i])**2)
    new2 = "".join(map(str, lsst))
print(type(new2))
print(new2)

In [ ]:
# Python3 code to demonstrate
# conversion of number to list of integers

num = 2019
# using list comprehension
# to convert number to list of integers
res = [int(x) for x in str(num)]
print("The list from number is " + str(res))

#OR

# using enumerate function
n=2019
res = [int(x) for i,x in enumerate(str(n))]
print(res)

#OR

# using map()
num = 2019 
res = list(map(int, str(num)))
print("The list from number is " + str(res))

In [ ]:

n=2019
res = [int(x) for i,x in enumerate(str(n))]
print(res)
type(n)

####  Solutions Alternatives 1

In [ ]:
def square_digits(num):
    ret = ""
    for x in str(num):
        ret += str(int(x)**2)
    return int(ret)

#### Solution Alternatives 2

In [ ]:
def square_digits(num):
    return int(''.join(str(int(d)**2) for d in str(num)))

# Description 
Complete the function that takes a non-negative integer n as input, and returns a list of all the powers of 2 with the exponent ranging from 0 to n ( inclusive ).

n = 0  ==> [1]        # [2^0]

n = 1  ==> [1, 2]     # [2^0, 2^1]

n = 2  ==> [1, 2, 4]  # [2^0, 2^1, 2^2]

### Ma Solution

In [ ]:
y = 2
m = list(range(int(y)+1))
p = []
x=4
for i in range(len(m)):
    p.append(y**m[i])
print(p)


#OR 

#def powers_of_two(n):
[2**x for x in range(int(x)+1)] 
#Same
[2**x for x in list(range(int(x)+1))]

####  Solutions Alternatives 1

In [ ]:
def powers_of_two(n):
    return [2**x for x in range(n+1)]

####  Solutions Alternatives 2

In [ ]:
def powers_of_two(n):
    a = []
    for i in range(0, n + 1):
        a.append(2 ** i)    
    return a

# Description
Python dictionaries are inherently unsorted. So what do you do if you need to sort the contents of a dictionary?

Create a function that returns a sorted list of (key, value) tuples (Javascript: arrays of 2 items).

The list must be sorted by the value and be sorted largest to smallest.

Examples
sort_dict({3:1, 2:2, 1:3}) == [(1,3), (2,2), (3,1)]

sort_dict({1:2, 2:4, 3:6}) == [(3,6), (2,4), (1,2)]

### Ma Solution

In [ ]:
def value(vl):
        return vl[1]
def sort_dict(d):
    z = list(d.items())
    return sorted((z), key=value, reverse = True)

#### Solutions Alternative

In [ ]:
def sort_dict(d):
    return sorted(d.items(), key=lambda x: x[1], reverse=True)

# Description 
In this little assignment you are given a string of space separated numbers, and have to return the highest and lowest number.

Examples

high_and_low("1 2 3 4 5")  # return "5 1"

high_and_low("1 2 -3 4 5") # return "5 -3"

high_and_low("1 9 3 4 -5") # return "9 -5"

Notes

All numbers are valid Int32, no need to validate them.

There will always be at least one number in the input string.

Output string must be two numbers separated by a single space, and highest number is first.

### Ma Solution

In [ ]:
test = ('4 5 6 23 -4')
def high_and_low(numbers):
    num = numbers.split()
    res = [eval(i) for i in num]
    return f'{max(res)} {min(res)}'
high_and_low(test)

#### Solutions Alternative

In [ ]:
def high_and_low(numbers):
  numbers = [int(c) for c in numbers.split(' ')]
  return f"{max(numbers)} {min(numbers)}"

In [ ]:
test = ('4 5 6 23 -4')
def high_and_low(numbers):
    nums = sorted(numbers.split(), key=int)
    return f'{nums[-1]} {nums[0]}'
high_and_low(test)

# Description 
A square of squares

You like building blocks. You especially like building blocks that are squares. And what you even like more, is to arrange them into a square of square building blocks!

However, sometimes, you can't arrange them into a square. Instead, you end up with an ordinary rectangle! Those blasted things! If you just had a way to know, whether you're currently working in vain… Wait! That's it! You just have to check if your number of building blocks is a perfect square.

Task

Given an integral number, determine if it's a square number:

In mathematics, a square number or perfect square is an integer that is the square of an integer; in other words, it is the product of some integer with itself.

The tests will always use some integral number, so don't worry about that in dynamic typed languages.

### Ma Solution

In [ ]:
import math
def is_square(n):    
    if(n >=0):
        sr = int(math.sqrt(n))
        return ((sr*sr) == n)
    return False 
is_square(85)

#### Solutions Alternative

In [ ]:
def is_square(n):    
    return n >= 0 and (n**0.5) % 1 == 0

In [ ]:
import math
def is_square(n):
    return n > -1 and math.sqrt(n) % 1 == 0;

# Description 

Your task is to make a function that can take any non-negative integer as an argument and return it with its digits in descending order. Essentially, rearrange the digits to create the highest possible number.

Examples:
Input: 42145 Output: 54421

Input: 145263 Output: 654321

Input: 123456789 Output: 987654321

### Ma Solution

In [ ]:
testing = 123456789
def descending_order(num):
    nums = [int(i) for i in str(num)]
    nums.sort(reverse = True)
    rslt = [str(i) for i in nums]
    return int("".join(rslt))
descending_order(testing)

#### Solutions Alternative

In [ ]:
def Descending_Order(num):
    return int("".join(sorted(str(num), reverse=True)))

# Description 
In this kata you will create a function that takes a list of non-negative integers and strings  and returns a new list with the strings filtered out.

Example:
filter_list([1,2,'a','b']) == [1,2] \
filter_list([1,'a','b',0,15]) == [1,0,15] \
filter_list([1,2,'aasf','1','123',123]) == [1,2,123]

### Ma Solution

In [ ]:
def filter_list(l):
    lst = []
    for i in l:
        try:
            if i == int(i):
                lst.append(i)
        except ValueError:
            pass
    return lst

#### Solutions Alternative

In [ ]:
def filter_list(l):
  'return a new list with the strings filtered out'
  return [x for x in l if type(x) is not str]

In [ ]:
def filter_list(l):
  'return a new list with the strings filtered out'
  return [i for i in l if not isinstance(i, str)]

# Description 

Debug   function getSumOfDigits that takes positive integer to calculate sum of it's digits. Assume that argument is an integer.

Example:

123  => 6 

223  => 7 

1337 => 14

In [ ]:
def get_sum_of_digits(num):
    return sum([int(x) for x in str(num)])

# Description 
You probably know the "like" system from Facebook and other pages. People can "like" blog posts, pictures or other items. We want to create the text that should be displayed next to such an item.

Implement the function which takes an array containing the names of people that like an item. It must return the display text as shown in the examples:

[]                                -->  "no one likes this"

["Peter"]                         -->  "Peter likes this"

["Jacob", "Alex"]                 -->  "Jacob and Alex like this"

["Max", "John", "Mark"]           -->  "Max, John and Mark like this"

["Alex", "Jacob", "Mark", "Max"]  -->  "Alex, Jacob and 2 others like this"

### Ma Solution

In [ ]:
l =[]
l1 = ['Max']
l2 = ['Max', 'jacob']
l3 = ['Max', 'jacob', 'Fred']
l4 = ['Max', 'jacob', 'Michel', 'Stephane']
def likes(names):
    for i in range(len(names)+1):
        if len(names) <= 0:
            likes = f'no one likes this'
        elif len(names) <= 1:
            likes = f'{names[0]} likes this'
        elif len(names) <= 2:
            likes = f'{names[0]}, {names[1]} likes this'
        elif len(names) <= 3:
            likes = f'{names[0]}, {names[1]}, {names[2]} likes this'
        elif len(names) > 3: 
            likes = f'{names[0]}, {names[1]}, and 2 others likes this'
    return likes

likes(l2)

#### Solution Alternative

# Description 
Write a function that accepts an array of 10 integers (between 0 and 9), that returns a string of those numbers in the form of a phone number.

Example:

create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]) # => returns "(123) 456-7890"

The returned format must be correct in order to complete this challenge.

Don't forget the space after the closing parentheses!

### Ma Solution

In [ ]:
def create_phone_number(n):
    number = [str(x) for x in n]
    for i in range(len(number)):
        x= number[:3]
        y = number[3:6]
        z = number[6:]
    return f'({"".join(x)}) {"".join(y)}-{"".join(z)}'

#### Solutions Alternatives

In [ ]:
def create_phone_number(n):
    m = ''.join(map(str, n))
    return f"({m[:3]}) {m[3:6]}-{m[6:]}"

########

def create_phone_number(n):
  str1 =  ''.join(str(x) for x in n[0:3])
  str2 =  ''.join(str(x) for x in n[3:6])
  str3 =  ''.join(str(x) for x in n[6:10])


  return '({}) {}-{}'.format(str1, str2, str3)

# Description 
Given an array of integers, find the one that appears an odd number of times.

There will always be only one integer that appears an odd number of times.

Examples: 

[7] should return 7, because it occurs 1 time (which is odd).

[0] should return 0, because it occurs 1 time (which is odd).

[1,1,2] should return 2, because it occurs 1 time (which is odd).

[0,1,0,1,0] should return 0, because it occurs 3 times (which is odd).

[1,2,2,3,3,3,4,3,3,3,2,2,1] should return 4, because it appears 1 time (which is odd).

### Ma Solution

In [ ]:
def find_it(seq):
    for i in range(len(seq)):
        if seq.count(seq[i]) % 2 != 0:
            return int(seq[i])
        if seq.count(seq[i]) == 1:
            return seq[i]

#####
[x for x in n if n.count(x) == 1]

#### Solutions Alternatives:

In [ ]:
n = [7, 3, 3, 5, 5]
n1 = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]

def find_it(seq):
    for i in range(len(seq)):
        if seq.count(seq[i]) % 3 == 0:
            return int(seq[i])
    for x in seq:
        if seq.count(x) == 1:
            return x
    pass

find_it(n3)

In [ ]:
def find_it(seq):
    for i in seq:
        if seq.count(i)%2!=0:
            return i
        
#####################

def find_it(seq):
    return [x for x in seq if seq.count(x) % 2][0]

# Descritpion 
You are going to be given a word. Your job is to return the middle character of the word. If the word's length is odd, return the middle character. If the word's length is even, return the middle 2 characters.

#Examples:

Kata.getMiddle("test") should return "es"

Kata.getMiddle("testing") should return "t"

Kata.getMiddle("middle") should return "dd"

Kata.getMiddle("A") should return "A"

### Ma Solution

In [38]:
w1 = "testing"
w2 = "test"
w3 = "middle"
w4 = "A"

def get_middle(s):
    for i in range(len(s)):
        if len(s) % 2 ==0:
            return f'{s[int(len(s)/2)-1]}{s[int(len(s)/2)]}'
        if len(s) % 2 != 0:
            return s[int(len(s)//2)]
        
get_middle(w3)

'dd'

# Description 
Digital root is the recursive sum of all the digits in a number.

Given n, take the sum of the digits of n. If that value has more than one digit,

continue reducing in this way until a single-digit number is produced.

The input will be a non-negative integer.

16  -->  1 + 6 = 7

942  -->  9 + 4 + 2 = 15  -->  1 + 5 = 6

### Ma Solution

In [ ]:

def digital_root(n):
    n = [int(x) for x in str(n)]
    while len(n) >1:
        n = sum (n)
        n = [int(x) for x in str(n)]
        continue
    n = [str(x) for x in n]
    return int("".join(n))

In [ ]:
digital_root(1999)

#### Solutions Alternatives

In [ ]:
def digital_root(n):
    return n if n < 10 else digital_root(sum(map(int,str(n))))

# Descritpion 
Your goal in this kata is to implement a difference function, which subtracts one list from another and returns the result.

It should remove all values from list a, which are present in list b keeping their order.

array_diff([1,2],[1]) == [2]

If a value is present in b, all of its occurrences must be removed from the other:

array_diff([1,2,2,2,3],[2]) == [1,3]

### Ma Solution

In [50]:
a = [1,3,5,7]
b=[ 1, 3, 5, 8]

In [51]:
def array_diff(a, b):
    lst1, lst2 = a, b
    return [i for i in lst1 if i not in lst2]

In [52]:
array_diff(a,b)

[7]

#### Solution Alternative

In [ ]:
def array_diff(a, b):
    return [x for x in a if x not in b]

# Descritpion 
Write an algorithm that takes an array and moves all of the zeros to the end, preserving the order of the other elements.

move_zeros([1, 0, 1, 2, 0, 1, 3]) # returns [1, 1, 2, 1, 3, 0, 0]

### Ma Solution

In [ ]:
def move_zeros(lst):
    for i in range(len(lst)):
        try:
            x = len(lst)
            lst.remove(0)
            lst.insert(x-1, 0)
        except:
            return lst
    return lst

#### Solution Alternative

In [ ]:
def move_zeros(arr):
    l = [i for i in arr if isinstance(i, bool) or i!=0]
    return l+[0]*(len(arr)-len(l))

# Description
Write a function that takes an integer as input,

and returns the number of bits that are equal to one in the binary representation of that number.

You can guarantee that input is non-negative.

Example: The binary representation of 1234 is 10011010010, so the function should return 5 in this case

### Ma solution

In [ ]:
def count_bits(n):
    n = bin(n)[2:]
    return n.count('1')

#### Solutions Alternatives

In [ ]:
def countBits(n):
    return bin(n).count("1")

# Description 
Write a function, persistence, that takes in a positive parameter num and returns its multiplicative persistence,

which is the number of times you must multiply the digits in num until you reach a single digit.

For example (Input --> Output):

39 --> 3 (because 3*9 = 27, 2*7 = 14, 1*4 = 4 and 4 has only one digit)

999 --> 4 (because 9*9*9 = 729, 7*2*9 = 126, 1*2*6 = 12, and finally 1*2 = 2)

4 --> 0 (because 4 is already a one-digit number)

In [ ]:
def digital_root(n):
    n = [int(x) for x in str(n)]
    while len(n) >1:
        n = sum (n)
        n = [int(x) for x in str(n)]
        continue
    n = [str(x) for x in n]
    return int("".join(n))

In [ ]:
az = 999
def digital_multi(n):
    n = [int(x) for x in str(n)]
    counter = 0
    while len(n) >1:
        for digit in n:
            n = [int(x)*x for x in str(value)]
            counter += 1 
            continue
    return counter
digital_multi(az)

In [ ]:
Initialize the value of the product to 1(not 0 as 0 multiplied with anything returns zero).
Traverse till the end of the list, multiply every number with the product.
The value stored in the product at the end will give you your final answer.
test = [1, 1, 2, 1, 3]
value = 1
for i in test:
    value *= i
print(value)

In [ ]:
test = [9, 9, 9]
value = 1
counter = 0

for i in test:
    value *= i
    print(value)
    counter += 1
    continue
    test.remove(i)
print (counter)

# Description 
Task
You will be given an array of numbers. You have to sort the odd numbers in ascending order while leaving the even 

numbers at their original positions.

Examples: 

[7, 1]  =>  [1, 7]
 
[5, 8, 6, 3, 4]  =>  [3, 8, 6, 5, 4] 

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]  =>  [1, 8, 3, 6, 5, 4, 7, 2, 9, 0]

### Ma Solution

In [ ]:
array = [5, 3, 2, 8, 1, 4]
sorted_array = sorted([i for i in array if i % 2 != 0])
sorted_array

In [ ]:
def sort_array(source_array):
    sorted_array = [i for i in source_array if i % 2 != 0]
    sorted_array.sort()
    for index, item in enumerate(source_array):
        if item % 2 == 0:
            sorted_array.insert(index, item)
    return sorted_array

#### Solutions Alternatives

In [ ]:
def sort_array(arr):
  odds = sorted((x for x in arr if x%2 != 0), reverse=True)
  return [x if x%2==0 else odds.pop() for x in arr]
sort_array(array)

# Description 
vowelOne

Write a function that takes a string and outputs a strings of 1's and 0's where vowels become 1's and non-vowels become 0's.

All non-vowels including non alpha characters (spaces,commas etc.) should be included.

Examples:

vowelOne "abceios" -- "1001110"

vowelOne "aeiou, abc" -- "1111100100"

### Ma solution

In [ ]:
def vowel_one(s):
    s = s.lower()
    z = []
    for i, char in enumerate(s):
        if s[i] in 'aeiou':
            z.append(s[i].replace(s[i], "1"))
        else:
            z.append(s[i].replace(s[i], "0"))           
    return "".join(z)

In [ ]:
def vowel_one(s):
    s = s.lower()
    return"".join([x.replace(s[i], "1") if s[i] in 'aeiou' else x.replace(s[i], "0") for i,x in enumerate(str(s))])
vowel_one(ap)

#### Solutions Alternatives

In [ ]:
def vowel_one(s):
    return "".join("1" if c in "aeiou" else "0" for c in s.lower())

# Description

In [ ]:
#('+', 4, 7) --> 11

In [ ]:
import operator

ops = {
    '+' : operator.add,
    '-' : operator.sub,
    '*' : operator.mul,
    '/' : operator.truediv,  # use operator.div for Python 2
    '%' : operator.mod,
    '^' : operator.xor,
}

In [ ]:
c = '+', 5, 7

In [ ]:
b,e,d = c

In [ ]:
v = ops[b] (d , e)

In [ ]:
v

In [ ]:
d

In [ ]:
import operator
def basic_op(operator, value1, value2):
    operator = {
    '+' : operator.add,
    '-' : operator.sub,
    '*' : operator.mul,
    '/' : operator.truediv,  
    '%' : operator.mod,
    '^' : operator.xor
    }
    rslt = ops[operator] (value1, value2)
    return rslt

In [ ]:
basic_op('-', 7, 2)

# DESCRIPTION 

Simple, given a string of words, return the length of the shortest word(s).

String will never be empty and you do not need to account for different data types.

### Ma Solution:

In [ ]:
def find_short(s):
    return len(min(s.split(), key=len))

#### Solution Alternative:

In [ ]:
def find_short(s):
    return min(len(x) for x in s.split())

# DESCRIPTION 
Count the number of Duplicates
Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

Example
"abcde" -> 0 # no characters repeats more than once

"aabbcde" -> 2 # 'a' and 'b'

"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`)

"indivisibility" -> 1 # 'i' occurs six times

"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice

"aA11" -> 2 # 'a' and '1'

"ABBA" -> 2 # 'A' and 'B' each occur twice

### Ma Soltuion

In [ ]:
from collections import Counter
def duplicate_count(text):
    s = Counter(text.lower())
    res = 0
    for value in s:
        if s[value] > 1:
            res = res + 1
    return res

#### Solution alternatives

In [ ]:
def duplicate_count(text):
    text = text.lower()
    duplicates = []
    for i in text:
        if text.count(i) > 1 and i not in duplicates:
            duplicates.append(i)    
    return len(duplicates)

In [ ]:
def duplicate_count(text):
    text = text.lower()
    duplicates = []
    for i in text:
        if text.count(i) > 1 and i not in duplicates:
            duplicates.append(i)    
    return len(duplicates)

In [ ]:
def duplicate_count(text):
    n=0
    text=text.lower()
    for i in set(text):
        if text.count(i) >1:
            n+=1
    return n

l = '9pk2v7qUDpWQZuslEKiCiRZ3yDDIzGg4aNhrgaq4gmyWnkjilpDeczOp99ife7j4em0IclcaScNcoqg5RSieV'

n = 0
for i in set(l):
    if l.count(i) >1:
            n+=1
n

In [ ]:
res = 0
for value in s:
    if s[value] > 1:
        res = res + 1

In [ ]:
res

# DESCRITPION
The goal of this exercise is to convert a string to a new string where each character in the new string is "(" if that character appears only once in the original string, or ")" if that character appears more than once in the original string. Ignore capitalization when determining if a character is a duplicate.

Examples

"din"      =>  "((("

"recede"   =>  "()()()"

"Success"  =>  ")())())"

"(( @"     =>  "))(("

### Ma solution

In [ ]:
c = 'recede'
def duplicate_encode(word):
    word = word.lower()
    back = []
    for letter in word:
        if word.count(letter) > 1:
            letter = ')'
            back.append(letter)
        else:
            letter = '('
            back.append(letter)
    return "".join(back)
def duplicate_encode(word):
    return "".join([x.replace(x,')') if c.count(x) > 1 else x.replace(x,'(') for x in c])

#### Solution alternatives

In [ ]:
def duplicate_encode(word):
    return "".join([x.replace(x,')') if c.count(x) > 1 else x.replace(x,'(') for x in c])

def duplicate_encode(word):
    return "".join(["(" if word.lower().count(c) == 1 else ")" for c in word.lower()])

# DESCRIPTION 
Welcome.

In this kata you are required to, given a string, replace every letter with its position in the alphabet.

If anything in the text isn't a letter, ignore it and don't return it.

"a" = 1, "b" = 2, etc.

Example

alphabet_position("The sunset sets at twelve o' clock.")

Should return "20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11" ( as a string )

### Ma solution

In [ ]:
def alphabet_position(text):
    phrase = "The sunset sets at twelve o' clock."
    dico = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6',
            'g':'7','h':'8','i':'9','j':'10','k':'11','l':'12',
            'm':'13','n':'14','o':'15','p':'16','q':'17','r':'18',
            's':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'}
    phrase = phrase.lower()
    new_phrase = ''
    for c in phrase:
        if c in dico.keys():
            new_phrase += dico[c] + " "
    return new_phrase.rstrip()

######################## OR 

def alphabet_position(text):
    dico = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6',
            'g':'7','h':'8','i':'9','j':'10','k':'11','l':'12',
            'm':'13','n':'14','o':'15','p':'16','q':'17','r':'18',
            's':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'}
    return" ".join([dico[x] for x in phrase.lower() if x in dico.keys()])

In [ ]:
phrase = "The sunset sets at twelve o' clock."

alphabet_position(phrase)

# DESCRIPTION:
Complete the method/function so that it converts dash/underscore delimited words into camel casing. The first word within the output should be capitalized only if the original word was capitalized (known as Upper Camel Case, also often referred to as Pascal case).

Examples

"the-stealth-warrior" gets converted to "theStealthWarrior"

"The_Stealth_Warrior" gets converted to "TheStealthWarrior"

### Ma solution

In [ ]:
te= "the-stealth-warrior"
te = [x for x in te]
if len(te) != 0:
    for i in range(len(te)):
        if te[i] in ('_', '-'):
            te[i+1] = te[i+1].upper()
"".join([x for x in te if x not in ("-", "_")])

#### Solution alternatives

In [ ]:
def to_camel_case(text):
    return text[:1] + text.title()[1:].replace('_', '').replace('-', '')

##################### OR

def to_camel_case(text):
    words = text.replace('_', '-').split('-')
    return words[0] + ''.join([x.title() for x in words[1:]])

##################### OR

def to_camel_case(text):
    removed = text.replace('-', ' ').replace('_', ' ').split()
    if len(removed) == 0:
        return ''
    return removed[0]+ ''.join([x.capitalize() for x in removed[1:]])

39 --> 3 (because 3*9 = 27, 2*7 = 14, 1*4 = 4 and 4 has only one digit)

999 --> 4 (because 9*9*9 = 729, 7*2*9 = 126, 1*2*6 = 12, and finally 1*2 = 2)

4 --> 0 (because 4 is already a one-digit number)

### Ma Solution

In [ ]:
def persistance(num):
    counter=0
    while num>9:
        counter+=1
        num_str=str(num)
        total=1
        for i in num_str:
            total=total* int(i)
        num=total
    print (counter)

#### Solution Alternatives

In [ ]:
def persistence(n):
    n = str(n)
    count = 0
    while len(n) > 1:
        p = 1
        for i in n:
            p *= int(i)
        n = str(p)
        count += 1
    return count

#################### OR 

def persistence(num):
    if num < 10:
        return 0 # Only one digit. Can't iterate over it
    num_str = str(num)
    total = 1
    for i in num_str:
        total = total * int(i)
    return 1 + persistence(total) # We do 1 + because we just did an iteration

In [ ]:
string = "In 2015, I want to know how much does iPhone 6+ cost?"

In [ ]:
import re
numbers = re.findall(r'\d+', string)
numbers = sum([int(x) for x in numbers])
numbers

In [ ]:
total = 0
b = []
for i in string:
    if i.isdigit():
        b.append(i)
        total += int(i)
total
b

In [ ]:
string = "In 2015, I want to know how much does iPhone 6+ cost?"

In [ ]:
string = string.split()

In [ ]:
for i in string:
    print(i)
    i = i.isdigit()
    print(i)

DESCRIPTION:

Check to see if a string has the same amount of 'x's and 'o's. The method must return a boolean and be case insensitive. The string can contain any char.

Examples input/output:

- XO("ooxx") => true
- XO("xooxx") => false
- XO("ooxXm") => true
- XO("zpzpzpp") => true // when no 'x' and 'o' is present should return true
- XO("zzoo") => false

In [ ]:
def occurence (n):
    tabx = []
    tabo= []
    for i in n:
        if 'x' in n:
            i.append(tabx)
    return [True if n]

In [8]:
n = 'xxoo'
tabx = []
tabo= []

for i in n.lower():
    if i == 'x':
        tabx.append(i)
    elif i == 'o':
        tabo.append(i)
    elif i 
        
tabx
tabo

['o', 'o']

In [54]:
n = "xxxoo"
def counter(n):
    for i in n:
        x = n.lower().count('x')
        o = n.lower().count('o')
        if 'x' and 'o' not in n:
            return True
        else:
            if x == o:
                return True
            else:
                return False
                
counter(n)

False

In [55]:
def counter(n):
    return [True if n.lower().count('x') == n.lower().count('o') or 'x' and 'o' not in n else False]
counter(n)

[False]

In [1]:
def DNA_strand(dna):
    dna_dict = {"A" : "T",
               "T" : "A",
               "C" : "G",
               "G" : "C"}
    for i in dna:
        if i in dna_dict
    return

In [4]:
dna = "ATTGC"
dna_dict = {"A" : "T",
           "T" : "A",
           "C" : "G",
           "G" : "C"}
for i in dna:
    if i in dna_dict:
        return dna_dict.get(i)

T
A
A
C
G

In [1]:
test = [ [ 1, 2, 3, 4, 5 ]       
, [ 5, 6, 7, 8, 9 ]        
, [ 20, 21, 34, 56, 100 ]  
]

In [23]:
for mini in test: 
    print(min(mini))

1
5
20

In [24]:
for i in range(len(test)):
    min(test[i])

TypeError: 'int' object is not iterable

In [10]:
def mini(listnest):
    total=[]
    for i in range(len(listnest)):
        total.append(min(listnest[i]))
    return sum(total)

In [11]:
mini(test)

26

In [34]:
def mini(listnest):
    return sum(min(tot) for tot in listnest)

In [35]:
mini(test)

26

In [86]:
a = "I like turtles"
b = "I like turkeys"

In [94]:
def hamming(a,b):
    result = []
    for l,n in zip(a,b):
        if l != n:
            result.append(l)
    return len(result)

In [109]:
def ham(a,b):
    return len([ l for l,n in zip(a,b) if l != n])

In [110]:
ham(a,b)

3

In [114]:
def a(n):
    for i in range(1, n+1):
        for j in range(1, n-i+1):
            print(" ", end="")
        for j in range(0, 2*i-1):
            if j == 0 or j == 2*i-2 or i == n:
                print("A", end="")
            else:
                print(" ", end="")
        print()

a(12)

           A
          A A
         A   A
        A     A
       A       A
      A         A
     A           A
    A             A
   A               A
  A                 A
 A                   A
AAAAAAAAAAAAAAAAAAAAAAA

In [113]:
print_pattern(12)

           A
          AA
         AAA
        AAAA
       AAAAA
      AAAAAA
     AAAAAAA
    AAAAAAAA
   AAAAAAAAA
  AAAAAAAAAA
 AAAAAAAAAAA
AAAAAAAAAAAA

In [116]:
n = 12
range(1, n+1)

range(1, 13)

In [117]:
def a(n):
    if n < 4:
        return ""
    
    if n % 2 == 0:
        n = n
    else:
        n = n - 1
    
    result = []
    for i in range(1, n + 1):
        spaces = " " * ((n - i) // 2)
        if i <= n // 2 + 1:
            line = spaces + "A" * (2 * i - 1) + spaces
        else:
            line = spaces + "A" + " " * (2 * i - 3) + "A" + spaces
        result.append(line)
        
    return "\n".join(result)

In [118]:
a(12)

'     A     \n     AAA     \n    AAAAA    \n    AAAAAAA    \n   AAAAAAAAA   \n   AAAAAAAAAAA   \n  AAAAAAAAAAAAA  \n  A             A  \n A               A \n A                 A \nA                   A\nA                     A'